* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pix;
}

body {
    background-color: rgb(203, 161, 243);
    width: 50pix;
    margin: auto;
    padding: 10px;
    box-shadow: black;
}